<div>
    <h4>Genesis Home!</h4>
</div>

<!--For all the below tags, you have to position them yourself they
provide logical structure to your page to ease search engines and other
applications in reading your page
-->

<!--Grouping elements
- <p><p/>
-<div><div/>
-lists

-->
<h3>Welcome to the Home Page. <br>All information you want to displayed on your home page can be displayed here</h3>
<article>This is an article</article>

<aside>Advertisement appears on side</aside>

<address>Address Tag should appear at bottom</address>


<br>
<!--
<div class="col-lg-4 offset-lg-3 col-md-4 offset-md-1 col-sm-5 offset-sm-3 col-xs-12 offset-xs-0">
    <div class="container">
        <h4>Clock In</h4>
        <form [formGroup]="clockInForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="empId">Employee Id</label>
            <input autofocus id="empId" type="number" class="form-control" formControlName="employeeId">
            <p *ngIf="!clockInForm.get('employeeId').valid && clockInForm.get('employeeId').dirty" class="alert alert-danger">This field is required</p>
          </div>
          
          
          
          <button [disabled]="!clockInForm.valid" type="submit" class="btn btn-success">Clock In</button>
          <button [disabled]="!clockInForm.valid" type="submit" style="margin-left: 10px" class="btn btn-success">Clock Out</button>
          <button type="button" class="btn btn-secondary" style="margin-left: 10px" (click)=back()>Back</button>
          {{successMessage}}
          {{errorMessage}}
        </form>
      <br/>
    </div>
  
  </div>-->