

<p style="margin-left: 300px">{{successMessage}}</p>
<p style="margin-left: 300px">{{errorMessage}}</p>
<br>
<p style="margin-left: 300px">{{redirection}}</p>
{{empId}}
{{role}}
<br>


<div class="col-lg-6 offset-lg-4 col-md-4 offset-md-1 col-sm-5 offset-sm-3 col-xs-12 offset-xs-0">
  <div class="container">
      <h1>Registration Form</h1>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Employee Id</label>
          <input autofocus type="number" class="form-control" formControlName="employeeId">
          <p *ngIf="registrationForm.controls.employeeId.errors" class="alert alert-danger">This field is required!</p>
        </div>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" formControlName="firstName">
          <p *ngIf="registrationForm.controls.firstName.errors" class="alert alert-danger">This field is required!</p>
          <p *ngIf="!registrationForm.get('firstName').valid && registrationForm.get('firstName').dirty" class="alert alert-danger">Please enter only alphabets</p>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input autofocus type="text" class="form-control" formControlName="lastName">
          <p *ngIf="!registrationForm.get('lastName').valid && registrationForm.get('lastName').dirty" class="alert alert-danger">Please enter only alphabets</p>
        </div>

        <div class="form-group">
          <fieldset formGroupName="address">
            <legend>Enter your home address</legend>
            <label>Street Name</label>
            <input type="text" class="form-control" formControlName="streetName">
            <label>Street No</label>
            <input type="text" class="form-control" formControlName="streetNo">
            <label>Zip</label>
            <input type="text" class="form-control" formControlName="zip">
            <label>City</label>
            <input type="text" class="form-control" formControlName="city">
            <label>State</label>
            <input type="text" class="form-control" formControlName="state">
          </fieldset>
        </div>

        <div class="form-group">
          <label>Email </label>
          <input type="email" class="form-control" formControlName="emailId">
          <p *ngIf="!registrationForm.get('emailId').valid && registrationForm.get('emailId').dirty" class="alert alert-danger">e.g.: abc@mail.com</p>
        </div>
        
        <div class="form-group">
          <label>Phone No</label>
          <input type="number" class="form-control" formControlName="phoneNumber">
          <p *ngIf="registrationForm.controls.phoneNumber.errors" class="alert alert-danger">Please enter 11 digit phone no.</p>
        </div>

        <div class="form-group">
          <label>Designation</label>
          <input type="text" class="form-control" formControlName="designation">
          <p *ngIf="registrationForm.controls.designation.errors" class="alert alert-danger">This field is required!</p>
        </div>

        <div class="form-group">
          <label>RFID</label>
          <input type="number" class="form-control" formControlName="rfid">
          <p *ngIf="registrationForm.controls.rfid.errors" class="alert alert-danger">Please enter 5 digit Rfid no.</p>
        </div>

        <!--Select doesnt give suggestions datList does-->

        <div class="form-group">
          <label>Gender</label>
          <!--<input type="" class="form-control" formControlName="designation">-->
          <select class="form-control" formControlName="userGender">
              <option value="">Choose gender:</option>
              <option value="MALE">MALE</option>
              <option value="FEMALE">FEMALE</option>
              <option value="OTHERS">OTHERS</option>
          </select>
          <p *ngIf="registrationForm.controls.userGender.errors" class="alert alert-danger">This field is required!</p>
        </div>
        
        <button  type="submit" class="btn btn-success">Submit</button>
        <!-- <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-success">Submit</button>-->
        <button type="button" class="btn btn-secondary" style="margin-left: 10px" (click)=back()>Back</button>
        
        

      </form>
    <br/>
  </div>

</div>