

<h3>Update Your Personal Details</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="firstName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
    </div>

    <div class="form-group">
        <legend>Update home address</legend>
        <label for="streetName">Street Name</label>
        <input type="text" id="streetName" class="form-control" required [(ngModel)]="user.address.streetName" name="streetName">
        <label for="streetNo">Street No</label>
        <input type="text" id="streetNo" class="form-control" required [(ngModel)]="user.address.streetNo" name="streetNo">
        <label for="zip">Zip</label>
        <input type="text" id="zip" class="form-control" required [(ngModel)]="user.address.zip" name="zip">
        <label for="city">City</label>
        <input type="text" id="city" class="form-control" required [(ngModel)]="user.address.city" name="city">
        <label for="state">State</label>
        <input type="text" id="state" class="form-control" required [(ngModel)]="user.address.state" name="state">
    </div>

    <div class="form-group">
      <label for="emailId">Email</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="user.emailId" name="emailId">
    </div>

    <div class="form-group">
      <label for="designation">Designation</label>
      <input type="text" class="form-control" id="designation" required [(ngModel)]="user.designation" name="designation">
    </div>

    <div class="form-group">
      <label for="rfid">Rfid</label>
      <input type="number" class="form-control" id="rfid" required [(ngModel)]="user.rfid" name="rfid">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" name="gender" id="gender" required [(ngModel)]="user.userGender">
          <option value="MALE">MALE</option>
          <option value="FEMALE">FEMALE</option>
      </select>
    </div>
    

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-secondary" style="margin-left: 10px" (click)=back()>Back</button>


  </form>
</div>



<!--
<div class="container">
  <h1>Update Employee Details</h1>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Employee Id</label>
      <input type="number" class="form-control" formControlName="userId">
      <p *ngIf="updateForm.controls.userId.errors" class="alert alert-danger">This field is required!</p>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="firstName">
      <p *ngIf="updateForm.controls.firstName.errors" class="alert alert-danger">This field is required!</p>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="lastName">
      <p *ngIf="updateForm.controls.lastName.errors" class="alert alert-danger">This field is required!</p>
    </div>
    


    <div class="form-group">
      <label>Email </label>
      <input type="email" class="form-control" formControlName="emailId">
      <p *ngIf="updateForm.controls.emailId.errors" class="alert alert-danger">e.g.: abc@mail.com</p>
    </div>
    <div class="form-group">
      <label>Designation</label>
      <input type="text" class="form-control" formControlName="designation">
      <p *ngIf="updateForm.controls.designation.errors" class="alert alert-danger">This field is required!</p>
    </div>
    <div class="form-group">
      <label>RFID</label>
      <input type="number" class="form-control" formControlName="rfid">
      <p *ngIf="updateForm.controls.rfid.errors" class="alert alert-danger">Please enter 5 digit Rfid no.</p>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <select class="form-control" formControlName="userGender">
          <option value="">Choose your gender:</option>
          <option value="MALE">MALE</option>
          <option value="FEMALE">FEMALE</option>
          <option value="OTHERS">OTHERS</option>
      </select>
      <p *ngIf="updateForm.controls.userGender.errors" class="alert alert-danger">This field is required!</p>
    </div>
    
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-secondary" style="margin-left: 10px" (click)=back()>Back</button>

    <script>
      var x = confirm("Agree that your data is saved?");
      if(x)
      console.log("Agrees");
      else
      Console.log("Declines");
    </script>
  </form>
<br/>
</div>
-->